// Footer

.footer {
  @extend %color--light;
  @extend %container;
  min-height: $footer-min-height;
  background-color: $background-darkest;
  box-sizing: border-box;
}

.footer__content {
  padding-top: 24px;
  padding-bottom: 16px;
}

.footer__inspectorate-meta {
  display: flex;
  margin-bottom: 16px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer__meta {
  float: right;
  text-align: right;
}

.footer__social-media {
  .social-media__list-item {
    float: left;
    margin-right: 16px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
