// Header

.header {
  @extend %color--light;

  position: relative;
  min-height: $header-min-height;
  padding-top: 16px;
  padding-right: 24px;
  padding-left: 24px;
  background: linear-gradient($header-gradient-start 0, $header-gradient-end 100%);
  box-shadow: 0 0 4px 1px $background-darkest;
  box-sizing: border-box;
}

.header__section {
  @extend %container;
  display: flex;
  flex-wrap: wrap;
}

.header__masthead {
  display: inline-block;
}

.header__link {

  &:hover {
    text-decoration: none;
  }
}

.header__user-controls {
  display: flex;
  height: 0;
  margin-top: 8px;
  margin-left: auto;
  align-items: center;
}
