// Layout

%container {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
}

%container-width {
  width: 100%;
}

.content__article--front-page {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;

  h2 {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  p {
    $font-size: 1.125; // 18px / 16px
    $line-height: 1.375; // 22px / 16px

    @include calculate-type($font-size, $line-height);
    margin-top: 24px;
    margin-bottom: 24px;
    color: $background-darkest;
  }

  a {
    @extend %button--primary;
    display: inline-block;
    width: 168px;
    margin: 4px;

    &:hover {
      text-decoration: none;
    }

    + a {
      @extend %button--secondary;
    }
  }
}

@include media-query('medium') {

  .content__article--front-page {
    margin-top: 32px;
    margin-bottom: 32px;

    h2 {
      margin-top: 64px;
      margin-bottom: 64px;
    }

    p {
      margin-top: 32px;
      margin-bottom: 32px;
    }

    a {
      margin: 32px;
    }
  }
}
