// Layout list

.layout-list {
  @extend %reset--ul;
  display: flex;
}

.layout-list__item {
  display: flex;
  margin-left: 8px;
}

.layout-list__button {
  @extend %button--touch;
  position: relative;
  text-indent: -9999px;
  content: 'A';

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    text-indent: 0;
    content: 'A';
    transform: translate(-50%, -50%);
  }

  &[data-class=''],
  &[data-class='large-text-size'] {
    background-color: $brand-primary-light;
  }

  &[data-class='large-text-size'],
  &[data-class='high-contrast'] {
    @extend %type--body;
  }

  &[data-class='high-contrast'] {
    color: $high-contrast-body;
    background-color: $high-contrast-background;
  }
}
