// Layout list

.layout-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.layout-list__button {
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  cursor: pointer;  
  background-position: top center;
  background-repeat: no-repeat;
  border: 0;
}
