// Layout list

.layout-list {
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.layout-list__item {
  display: inline;
}

.layout-list__button {
  @extend %button--touch;
  text-indent: -9999px;
}
