// Navigation

%menu-item--active {
  color: $brand-primary-dark;
  background: $lightest;
}

.header__nav__list {
  @extend %reset--ul;

  .menu-item {

    &:hover {

      .sub-menu {
        opacity: 1;
      }
    }

    &.current-menu-item,
    &.current-menu-parent {

      > a {
        @extend %menu-item--active;
      }
    }

    a {
      display: block;
      padding: 8px;
      background: linear-gradient($header-gradient-end 0, $brand-primary-dark 100%);
      border-top: 1px solid $brand-primary-dark;
      border-right: 1px solid $brand-primary-dark;
      border-left: 1px solid $brand-primary-dark;
      transition: .3s;

      &:focus,
      &:hover {
        @extend %menu-item--active;
        text-decoration: none;
      }
    }

  }
}

.menu-item {
  position: relative;
  display: inline;
  float: left;
}

.sub-menu {
  @extend %reset--ul;
  position: absolute;
  border: 1px solid $brand-primary-dark;
  opacity: 0;
  transition: .3s;

  .menu-item {
    width: 100%;
    white-space: nowrap;

    a {
      padding: 8px;
      color: $brand-primary-dark;
      background: $lightest;
      border: 0;

      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }

    &.current-menu-item {

      a {
        color: $brand-secondary;
      }
    }
  }
}
