// Navigation

%menu__item {
  width: 100%;
}

@include media-query('medium') {

  %menu__item {
    width: auto;
  }
}

%menu-item--active {
  color: $brand-primary-dark;
  background: $lightest;
}

%header__nav__menu-item {

  &.current-menu-item,
  &.current-menu-parent {

    > a {
      @extend %menu-item--active;
    }
  }

  a {
    display: block;
    padding: 6px;
    background: linear-gradient($header-gradient-end 0, $brand-primary-dark 100%);
    border-top: 1px solid $brand-primary-dark;
    border-right: 1px solid $brand-primary-dark;
    border-left: 1px solid $brand-primary-dark;
    outline: 0;
    transition: .1s;

    &:focus,
    &:hover {
      @extend %menu-item--active;
      text-decoration: none;

      + .sub-menu {
        visibility: visible;
      }
    }

    + .sub-menu {

      &[data-active] {
        visibility: visible;
      }
    }
  }

  &:hover {

    > a {
      @extend %menu-item--active;
    }

    > .sub-menu {
      visibility: visible;
    }
  }
}

%header__nav__sub-menu__item {
  width: 100%;
  white-space: nowrap;

  a {
    padding: 8px;
    color: $brand-primary-dark;
    background: $lightest;
    border: 0;
    outline: 0;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  &.current-menu-item {

    a {
      color: $brand-secondary;
    }
  }
}

.header__nav__list {
  @extend %reset--ul;

  .menu-item {
    @extend %header__nav__menu-item;
  }
}

.menu-item {
  @extend %menu__item;
  position: relative;
  display: inline;
  float: left;
}

.sub-menu {
  @extend %menu__item;
  @extend %reset--ul;
  @include z-index('sub-menu');
  position: absolute;
  border: 1px solid $brand-primary-dark;
  visibility: hidden;

  .menu-item {
    @extend %header__nav__sub-menu__item;
  }
}

.content__subnavigation {
  padding: 8px;
  overflow: auto;
  list-style: none;
  background-color: $background;

  li {
    display: inline;
    float: left;
    margin-right: 2px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  a {
    display: block;
    padding: 6px;
    background-color: $brand-primary-light;
  }
}
