// Search meta

.search-meta__header {
  margin-top: 16px;
  margin-bottom: 16px;
}

.search-meta__search-count,
.search-meta__search-query {
  font-weight: bold;
}

.search-results__list {
  @extend %reset--ul;
}

.search-results__list-item {
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: $brand-primary-light;
}

.search-result__link {
  display: block;
}

.search-results__nav__link--next {
  float: right;
}
